<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/plantilla2 :: head}">
        <title>Periodos</title>
    </head>

    <body>

        <!-- Fragmento para el botón de agregar periodo -->
        <section th:fragment="botonesAgregarPeriodo" class="container-lg py-4 mx-auto">
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <ul class="list-inline d-flex justify-content-between align-items-center">
                            <li class="list-inline-item">
                                <h3 class="mr-3">Gestión de Periodos</h3>
                            </li>
                            <li class="list-inline-item">
                                <h4>Periodos: <strong th:text="${periodos.size()}">0</strong></h4>
                            </li>
                            <li class="list-inline-item">
                                <button type="button" 
                                        class="btn btn-primary" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#agregarPeriodo">
                                    Agregar Periodo
                                </button>
                            </li>
                            <li class="list-inline-item ml-auto">
                                <form class="form-inline" th:action="@{/buscarPeriodo}" method="get">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="busqueda" name="q" placeholder="Buscar Periodo">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar periodo, es la ventana modal -->
        <section th:fragment="agregarPeriodo">
            <div id="agregarPeriodo" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar Periodo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/periodos/guardar}" method="POST" class="was-validated" enctype="multipart/form-data" th:object="${periodo}">
                            <div class="modal-body">
                                <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>
                                <div class="mb-3">
                                    <label for="ano">Año</label>
                                    <input type="number" class="form-control" id="ano" name="ano" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="cuatrimestre">Cuatrimestre</label>
                                    <input type="number" class="form-control" id="cuatrimestre" name="cuatrimestre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="fechaInicio">Fecha de Inicio</label>
                                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="fechaFin">Fecha de Fin</label>
                                    <input type="date" class="form-control" id="fechaFin" name="fechaFin" required="true"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para modificar periodo -->
        <section th:fragment="editarPeriodo">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" 
                          th:action="@{/periodos/guardar}" 
                          th:object="${periodo}" 
                          class="was-validated" 
                          enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}"/>
                        <section th:replace="~{periodo/fragmentos :: botonesEditar}"/>
                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar Periodo</h4>
                                            </div>
                                            <div class="card-body">
                                                <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>
                                                <div class="mb-3">
                                                    <label for="ano">Año</label>
                                                    <input type="number" class="form-control" 
                                                           id="ano" name="ano"
                                                           th:field="*{ano}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cuatrimestre">Cuatrimestre</label>
                                                    <input type="number" class="form-control" id="cuatrimestre" name="cuatrimestre" required="true" th:field="*{cuatrimestre}"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fechaInicio">Fecha de Inicio</label>
                                                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required="true" th:field="*{fechaInicio}"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="fechaFin">Fecha de Fin</label>
                                                    <input type="date" class="form-control" id="fechaFin" name="fechaFin" required="true" th:field="*{fechaFin}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/periodos/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/periodos/eliminar/{id}(id=${periodo.id})}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Listado de los periodos -->
        <section th:fragment="listadoPeriodos" id="periodos">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Periodos</h4>
                            </div>
                            <div th:if="${periodos != null && !periodos.isEmpty()}">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Año</th>
                                            <th>Cuatrimestre</th>
                                            <th>Fecha de Inicio</th>
                                            <th>Fecha de Fin</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="periodo : ${periodos}" class="align-middle">
                                            <td th:text="${periodo.ano}"></td>
                                            <td th:text="${periodo.cuatrimestre}"></td>
                                            <td th:text="${#dates.format(periodo.fechaInicio, 'yyyy-MM-dd')}"></td>
                                            <td th:text="${#dates.format(periodo.fechaFin, 'yyyy-MM-dd')}"></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="accionesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Acciones
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="accionesDropdown">
                                                        <li>
                                                            <a class="dropdown-item" th:href="@{/periodos/modifica/{idPeriodo}(idPeriodo=${periodo.id})}">Modificar</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item text-danger" th:href="@{/periodos/eliminar/{id}(id=${periodo.id})}">Eliminar</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${periodos == null || periodos.isEmpty()}" class="alert alert-warning" role="alert">
                                No hay periodos disponibles.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>