<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Asistencias</title>
</head>
<body>
    <h1>Lista de Asistencias</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Matrícula</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="asistencia : ${asistencias}">
                <td th:text="${asistencia.id}">ID</td>
                <td th:text="${asistencia.matriculaid.id}">Matrícula</td>
                <td th:text="${asistencia.fecha}">Fecha</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
