<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Asistencias</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Lista de Asistencias</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID Matrícula</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="asistencia : ${asistencias}">
                    <td th:text="${asistencia.matriculaid.id}">ID Matrícula</td>   
                    <td th:text="${asistencia.fecha}">Fecha</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>