<!DOCTYPE html>

<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="layout/plantilla2 :: head">
    </head>
    
    <body>
        <header th:replace="layout/plantilla2 :: header" />
        
        <section th:replace="estudiante/fragmentos :: botonesAgregar" />
        
        <section th:replace="estudiante/fragmentos :: agregarEstudiante" />
       
        <section th:replace="estudiante/fragmentos :: listadoEstudiantes" />
        
        <footer th:replace="layout/plantilla2 :: footer" />
    </body>
</html>