
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear/Editar Calificación</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <h1 th:text="${#strings.equals(calificacion.id, null) ? 'Crear Calificación' : 'Editar Calificación'}"></h1>
    <form th:action="@{/calificaciones/save}" th:object="${calificacion}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label for="matriculaid">Matricula ID:</label>
        <input type="text" th:field="*{matriculaid.id}" />
        <label for="laboratorio1">Laboratorio 1:</label>
        <input type="text" th:field="*{laboratorio1}" />
        <label for="laboratorio2">Laboratorio 2:</label>
        <input type="text" th:field="*{laboratorio2}" />
        <label for="quiz1">Quiz 1:</label>
        <input type="text" th:field="*{quiz1}" />
        <label for="quiz2">Quiz 2:</label>
        <input type="text" th:field="*{quiz2}" />
        <label for="examen1">Examen 1:</label>
        <input type="text" th:field="*{examen1}" />
        <label for="examen2">Examen 2:</label>
        <input type="text" th:field="*{examen2}" />
        <label for="proyecto">Proyecto:</label>
        <input type="text" th:field="*{proyecto}" />
        <button type="submit">Guardar</button>
    </form>
    <a href="/calificaciones/list">Volver a la lista</a>
</body>
</html>
