
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/plantilla2 :: head}">
        <title>Cursos</title>
    </head>

    <body>

        <!-- Fragmento para el botón de agregar curso -->
        <section th:fragment="botonesAgregar" class="container-lg py-4 mx-auto">
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <ul class="list-inline d-flex justify-content-between align-items-center">
                            <li class="list-inline-item">
                                <h3 class="mr-3">Gestión de Cursos</h3>
                            </li>
                            <li class="list-inline-item">
                                <h4>Cursos: <strong th:text="${cursos.size()}">0</strong></h4>
                            </li>
                            <li class="list-inline-item">
                                <button type="button" 
                                        class="btn btn-primary" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#agregarCurso">
                                    Agregar Curso
                                </button>
                            </li>
                            <li class="list-inline-item ml-auto">
                                <form class="form-inline" th:action="@{/buscarCurso}" method="get">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="busqueda" name="q" placeholder="Buscar Curso">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar curso, es la ventana modal -->
        <section th:fragment="agregarCurso">
            <div id="agregarCurso" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar Curso</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/cursos/guardar}" method="POST" class="was-validated" enctype="multipart/form-data" th:object="${curso}">
                            <div class="modal-body">
                                <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>
                                <div class="mb-3">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="profesorId">Profesor</label>
                                    <select class="form-control" id="profesorId" name="profesorId" required="true">
                                        <option th:each="profesor : ${profesores}" th:value="${profesor.id}" th:text="${profesor.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!--        Fragmento para modificar curso -->
        <section th:fragment="editarCurso">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" 
                          th:action="@{/cursos/guardar}" 
                          th:object="${curso}" 
                          class="was-validated" 
                          enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}"/>
                        <section th:replace="~{curso/fragmentos :: botonesEditar}"/>
                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar Curso</h4>
                                            </div>
                                            <div class="card-body">
                                                <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>
                                                <div class="mb-3">
                                                    <label for="nombre">Nombre del curso</label>
                                                    <input type="text" class="form-control" 
                                                           id="nombre" name="nombre"
                                                           th:field="*{nombre}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="profesorId">Profesor</label>
                                                    <select class="form-control" id="profesorId" name="profesorId" required="true">
                                                        <option th:each="profesor : ${profesores}" th:value="${profesor.id}" th:text="${profesor.id}" th:selected="${profesor.id == curso.profesorId ? 'selected' : ''}"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!--        Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/cursos/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/cursos/eliminar/{id}(id=${curso.id})}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Listado de los cursos -->
        <section th:fragment="listadoCursos" id="cursos">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Cursos</h4>
                            </div>
                            <div th:if="${cursos != null && !cursos.isEmpty()}">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre del Curso</th>
                                            <th>Profesor</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="curso : ${cursos}" class="align-middle">
                                            <td th:text="${curso.nombre}"></td>
                                            <td th:text="${curso.profesorId}"></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="accionesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Acciones
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="accionesDropdown">
                                                        <li>
                                                            <a class="dropdown-item" th:href="@{/cursos/modifica/{idCurso}(idCurso=${curso.id})}">Modificar</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item text-danger" th:href="@{/cursos/eliminar/{id}(id=${curso.id})}">Elimina</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${cursos == null || cursos.isEmpty()}">
                                <p>No hay cursos disponibles.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Listado de los cursos2 -->
        <section th:fragment="listadoCursos2" id="cursos">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Cursos</h4>
                            </div>
                            <div th:if="${cursos != null && !cursos.isEmpty()}">
                                <label for="curso">Seleccionar Curso</label>
                                <select class="form-control" id="curso" name="cursoId" required>
                                    <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nombre}"></option>
                                </select>

                                <a href="/calificaciones/list" class="btn btn-primary mt-2">Calificar</a>
                                <a href="/asistencia/curso" class="btn btn-primary mt-2">Asistencia</a>
                            </div>

                            <div th:if="${cursos == null || cursos.isEmpty()}">
                                <p>No hay cursos disponibles.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>