<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head th:replace="~{layout/plantilla2 :: head}">
        <title> <!--Matrículas--> [[#{matricula.titulo}]]</title>
    </head>

    <body>

        <!-- Fragmento para el botón de agregar matrícula -->
        <section th:fragment="botonesAgregarMatricula" class="container-lg py-4 mx-auto">
            <div class="container mt-4">
                <div class="row">
                    <div class="col">
                        <ul class="list-inline d-flex justify-content-between align-items-center">
                            <li class="list-inline-item">
                                <h3 class="mr-3"> <!--Gestión de Matrículas--> [[#{matricula.titulo2}]]</h3>
                            </li>
                            <li class="list-inline-item">
                                <h4> <!--Matrículas--> [[#{matricula.titulo}]]: <strong th:text="${matriculas.size()}">0</strong></h4>
                            </li>
                            <li class="list-inline-item">
                                <button type="button" 
                                        class="btn btn-primary" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#agregarMatricula">
                                     <!--Agregar Matrícula--> [[#{matricula.titulo3}]]
                                </button>
                            </li>
                            <li class="list-inline-item ml-auto">
                                <form class="form-inline" th:action="@{/buscarMatricula}" method="get">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="busqueda" name="q" placeholder="Buscar Matrícula">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para agregar matrícula, es la ventana modal -->
        <section th:fragment="agregarMatricula">
            <div id="agregarMatricula" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" id="exampleModalLabel"><!--Agregar Matrícula--> [[#{matricula.titulo3}]]</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/matriculas/guardar}" method="POST" class="was-validated" enctype="multipart/form-data" th:object="${matricula}">
                            <div class="modal-body">
                                <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>
                                <div class="mb-3">
                                    <label for="estudianteId"> <!--Estudiante--> [[#{estudiante}]]</label>
                                    <select class="form-control" id="estudianteId" name="estudiante.id" required="true">
                                        <option th:each="estudiante : ${estudiantes}" 
                                                th:value="${estudiante.id}" 
                                                th:text="${estudiante.persona.nombre + ' ' + estudiante.persona.apellido1 + ' ' + estudiante.persona.apellido2}">
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="curso"> <!--Cursos--> [[#{curso.text2}]]</label>
                                    <select class="form-control" id="curso" name="curso.id" required="true">
                                        <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nombre}"></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="periodo"> <!--Período--> [[#{periodo}]]</label>
                                    <select class="form-control" id="periodo" name="periodo.id" required="true">
                                        <option th:each="periodo : ${periodos}" th:value="${periodo.id}" th:text="${periodo.ano + ' - Cuatrimestre ' + periodo.cuatrimestre}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit"> <!--Guardar--> [[#{accion.guardar}]]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fragmento para modificar matrícula -->
        <section th:fragment="editarMatricula">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" 
                          th:action="@{/matriculas/guardar}" 
                          th:object="${matricula}" 
                          class="was-validated" 
                          enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}"/>
                        <section th:replace="~{matricula/fragmentos :: botonesEditar}"/>
                        <div id="details">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4> <!--Actualizar Matrícula--> [[#{matricula.titulo4}]]</h4>
                                            </div>
                                            <div class="card-body">
                                                <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>
                                                <div class="mb-3">
                                                    <label for="estudianteId"> <!--ID del Estudiante--> [[#{estudiante.id}]]</label>
                                                    <input type="number" class="form-control" 
                                                           id="estudianteId" name="estudianteId"
                                                           th:field="*{estudianteId}" required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="cursoId"> <!--ID del Curso--> [[#{curso.id}]]</label>
                                                    <input type="number" class="form-control" id="cursoId" name="cursoId" required="true" th:field="*{cursoId}"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="periodoId"> <!--ID del Periodo--> [[#{periodo.id}]]</label>
                                                    <input type="number" class="form-control" id="periodoId" name="periodoId" required="true" th:field="*{periodoId}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/matriculas/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>  <!--Regresar--> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/matriculas/eliminar/{id}(id=${matricula.id})}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i>   <!--Eliminar--> [[#{accion.eliminar}]]
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i>   <!--Guardar--> [[#{accion.guardar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Listado de las matrículas -->
        <section th:fragment="listadoMatriculas" id="matriculas">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h4> <!--Listado de Matrículas--> [[#{matricula.titulo5}]]</h4>
                            </div>

                            <!-- Tabla de matrículas -->
                            <div th:if="${matriculas != null && !matriculas.isEmpty()}">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th> <!--Estudiante--> [[#{estudiante}]]</th>
                                            <th><!--Cursos--> [[#{curso.text2}]]</th>
                                            <th> <!--Período--> [[#{periodo}]]</th>
<!--                                            <th>Acciones</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="matricula : ${matriculas}" class="align-middle">
                                            <td th:text="${matricula.estudiante.persona.nombre + ' ' + matricula.estudiante.persona.apellido1 + ' ' + matricula.estudiante.persona.apellido2}"></td>
                                            <td th:text="${matricula.curso.nombre}"></td>
                                            <td th:text="${matricula.periodo.ano + ' - Cuatrimestre ' + matricula.periodo.cuatrimestre}"></td>
<!--                                            <td>
                                                <div class="d-flex">
                                                    <form th:action="@{/matriculas/desmatricular}" method="post" th:object="${matricula}">
                                                        <input type="hidden" th:field="*{id}" />
                                                        <button type="submit" class="btn btn-danger">Desmatricular</button>
                                                    </form>
                                                </div>
                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${matriculas == null || matriculas.isEmpty()}" class="alert alert-info">
                                 <!--No hay matrículas registradas.--> [[#{matricula.titulo6}]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>